.mainContainer {}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.imageContainer{
    width:30% ;
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.content {
    width: 70%;
}

.title {
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    color: #999;
}